<div class="set">
  <h1>Items List</h1>
  </div>
  <div class="headings" align="right">
  <form method="post" action="">
  <span><b>Welcome: {{username}}</b></span>
  <input type="submit" name="submit" (click)="LogOut()" value="Log Out" class="btn btn-primary">
  <button name="shopping" class="btn btn-primary" id="shopping"><span>Shopping Basket.(<span class="badge">{{count}}</span>)</span></button>
  </form>
  </div>
  <hr align="left" width="1140">
  <div class="form-group center">
  <form method="get" action="">
  <table>
  <tr><td colspan="2"><textarea name="search" id="search" class="form-control extend" placeholder="search an item" rows="5" cols="40"></textarea></td></tr>
  <tr>
  </table>
  </form>
  <a href="/upload"><button type="submit" class="btn btn-primary center" name="booktitle" id="booktitle">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;Upload Item
  </button></a>
  <div style="margin-top: 20px;" *ngIf="(itemdata === undefined || itemdata.length === 0) else itemWithData">
    No items to display please upload some items to start up.
  </div>
  <ng-template #itemWithData>
    <table style="margin-top: 20px;" class="table table-bordered">
      <tr><td>Itemname</td><td>Description</td><td>Price</td><td>Image</td><td>Delete</td></tr>
      <tr *ngFor="let value of itemdata">
        <td>{{value.itemname}}</td><td>{{value.description}}</td><td>{{value.price}}</td><td>
          <img [src]="value.image" height="100" width="100"/>
        </td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </table>
  </ng-template>
</div>