.set {
  float: left;
}
.extend {
  width: 1140px;
}
body {
  width: 100%;
}
#getval {
  display: none;
}
.headings {
  margin-top: 20px;
}
.center {
  margin-top: 20px;
}
.hide {
  display: none;
}
.msg {
  color: red;
}
textarea {
  resize: none;
}
td {
  text-align: center;
}
